<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/Yernero" target="_blank">
              <span class="icon">{% include icon-github.svg %}</span>
              <span class="username">Yernero</span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/jacob-major-8301a01aa" target="_blank">
              <span class="icon">{% include icon-linkedin.svg %}</span>
              <span class="username">Jacob Major</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> 